<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShipCaddieAPI" />
                <binding name="BasicHttpsBinding_IShipCaddieAPI">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://testshipcaddieapi.azurewebsites.net/ShipcaddieAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipCaddieAPI"
                contract="ShipCaddieAppXml.IShipCaddieAPI" name="BasicHttpBinding_IShipCaddieAPI" />-->
            <endpoint address="https://testshipcaddieapi.azurewebsites.net/ShipcaddieAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IShipCaddieAPI"
                contract="ShipCaddieAppXml.IShipCaddieAPI" name="BasicHttpsBinding_IShipCaddieAPI" />
        </client>
    </system.serviceModel>
</configuration>